html, body { 
	background-image: url('../imgs/login.jpg');
	background-size: cover;
	height: 100%;
}

body {
	display: flex;
	align-items: center;
}


#login-btn { 
	margin-bottom: 20px;
}

#login-form { 
	padding: 5%;
}

